<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head', {title: 'Listado de Productos', style: '/css/styles.css'}) %>
    
<body>
    <%- include('../partials/header') %>
    <div id="alerta"></div>
    <h1>Listado de Productos</h1>
    <main>
        <section class="products">
            <% products.forEach(product => { %>
                <article class="product">
                    <a href="/products/detail/<%= product.id %> ">
                    <img src="/img/products/<%= product.image %> " alt="foto-producto">
                    <div class="description">
                        <span>$<%= product.price %> </span>
                        <% if (product.discount > 0) { %>
                        <span><%= product.discount %> % off</span>
                        <% } %>
                        
                    </div>
                        <span class="name"><%= product.name.toUpperCase() %> </span>
                    </a>
                    <div class="buttons">
                        <button class="agregarAlCarrito" data-id="<%= product.id %>">Agregar al Carrito</button>
                    </div>        
                </article>
            <% }) %>
        </section>
    </main> 
       
    <%- include('../partials/footer') %>
</body>
</html>